
/* css file for home page only 
 found myslf combine multple css pages to ensure uniform look  */
 .intro{ 
    font-weight: bolder;
    color: black;
    font-size: x-large;
   
}

#top{
  font-size: 150%;
}
.introFont {
font-size: 700%;
color: aliceblue;
font-family: 'Times New Roman', Times, serif;
}

/* 
img {
  width: 0%;
  height: auto;
} */

#move{

    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}
#introBtn{
  font-size: 300%;
 text-align: center;

}

#intro1 {
  background-image:url(https://d37oebn0w9ir6a.cloudfront.net/account_24664/turquoise-hessian-fabric-background_27624c1c5f936f60f4c4e77793c2dd73.jpg),
  /* background-position: right bottom, left top;
  background-repeat: no-repeat, repeat; */

  

}

.bio {

font-size: large;

}
.img-thumbnail{
    margin: auto;
}


#floated{
    float: left;
    width: 150px;
    background: red;
}

#container{
  width: 400px;
  background: yellow;
}

h2{
    font-size: xx-large;
}

.title{
    font-size: x-large;
    font-weight: bold;
   
}
footer{
    font-weight: bolder;
    font-size:x-large

}
  


  /* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (max-width): 600px) {
      body {
          background-color: green;
      }
  } */

  @media screen and (max-width: 700px) {
    body {
      background-color: green;
    }
  }